.container{
  overflow: auto;
}


.card{
    background-color: #808080 ;
    cursor: pointer;
    height: 80% !important;
    border-radius: 0.5rem;
    transition: transform .5s, box-shadow 1s;
  }
  .card:hover {
    transform: scale(1.02) perspective(0px);
    box-shadow: 0 10px 10px rgba(92, 82, 95, 0.9);
  }
  .card-outer{
    width: 280px !important;
    margin-right: 20px;
  }
  .card-inner{
    padding: 0.5rem 0rem;

    i{
        font-size: 1.5rem;
        color: white !important;
        
    }
    h5{
      color: white !important;
    }
    h6{
      color: rgb(190, 196, 202);
    }
    height: 100% !important;
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  