<app-dialog-page-header [title]="title"></app-dialog-page-header>

<form [formGroup]="organizationForm" autocomplete="off">
    <mat-dialog-content>

        <mat-card-content>
 <div class="row">
            <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>TIN</mat-label>
                                    <input matInput formControlName="tin" type="text" placeholder="TIN"
                                        (input)="formatTin($event)" required pattern="^\d{3}-\d{3}-\d{3}$"
                                        maxlength="11" />
                                    <mat-error *ngIf="
                organizationForm.get('tin').invalid &&
                (organizationForm.get('tin').dirty ||
                  organizationForm.get('tin').touched)
              ">
                                        <span *ngIf="organizationForm.get('tin').errors['required']">This is required
                                            field!</span>
                                        <span *ngIf="organizationForm.get('tin').errors['pattern']">Enter a valid
                                            format.</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Organization Code</mat-label>
                                    <input matInput formControlName="code" type="text"
                                        placeholder="Organization Code" />
                                    <mat-error>This is required field!</mat-error>
                                </mat-form-field>
                            </div>
                                <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput formControlName="phoneNumber" type="text" placeholder="Phone Number"
                                        (input)="formatPhoneNumber($event)" required pattern="^255\d{9}$"
                                        maxlength="12" />
                                    <mat-error *ngIf="
                organizationForm.get('phoneNumber').invalid &&
                (organizationForm.get('phoneNumber').dirty ||
                  organizationForm.get('phoneNumber').touched)
              ">
                                        <span *ngIf="organizationForm.get('phoneNumber').errors['required']">This is
                                            required field!</span>
                                        <span *ngIf="organizationForm.get('phoneNumber').errors['pattern']">Invalid
                                            format start with 255..</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
        <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Organization Name</mat-label>
                                    <input matInput formControlName="name" type="text"
                                        placeholder="Organization Name" />
                                    <mat-error>This is required field!</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
  <mat-form-field>
                                    <mat-label>Organization Name</mat-label>
                            <mat-select formControlName="organizationTypeId">
                                <mat-option *ngFor="let org of organizationLists" [value]="org.setupUUID">{{
                                    org.name}}</mat-option>
                            </mat-select>
 <mat-error>This is required field!</mat-error>
</mat-form-field>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Address</mat-label>
                                    <input matInput formControlName="address" type="text" placeholder="Address" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Domain Name</mat-label>
                                    <input matInput formControlName="domainName" type="text"
                                        placeholder="Domain Name" />
                                    <mat-error>This is required field!</mat-error>
                                </mat-form-field>
                            </div>
                      
                        </div>
                        <div class="row">
      <div class="col-md-6">
                                <input formControlName="logo" type="file" #fileInput style="display: none"
                                    (change)="addFile($event)" accept=".png,.jpg,.jpeg,image/*" />
                                <button style="margin-bottom: 2px; padding: 10px;" type="button" mat-raised-button
                                    color="primary" (click)="fileInput.click()">
                                    <i class="material-icons">attach_file</i>
                                    Upload logo
                                </button>
                            </div>
                            <div class="col-md-6">
                                <img width="80px" height="100px" *ngIf="imageSource" [src]="imageSource"
                                    alt="Uploaded Image" style="margin-left: 80px" />
                                <br />
                                <span style="font-style: italic; font-style: 5px">{{
                                    fileSize
                                    }}</span>
                            </div>
                        </div>
</div>
        <app-button class="button" (click)=save(organizationForm.value) buttonName="Save" _icon="ri-add-line align-bottom me-1"> </app-button>
                        <!-- <button class="button" (click)=save(organizationForm.value) type="submit" mat-raised-button
                            color="primary">
                            <mat-icon>save</mat-icon>
                            <span class="text-button"> Save </span>
                        </button> -->
        </mat-card-content>

    </mat-dialog-content>
</form>