<form [formGroup]="formName">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ field.label }}</mat-label>
    <input
      [matDatepicker]="myDate"
      [formControlName]="field.fieldName"
      matInput
    />
    <mat-datepicker-toggle [for]="myDate" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDate></mat-datepicker>
    <mat-error style="margin-top: -22px!important; left: 0 !important;"
      ><app-dynamic-error [field]="field"></app-dynamic-error
    ></mat-error>
  </mat-form-field>
</form>
