<app-headings [title]="title" [useBackButton]="true"></app-headings>

<div class="card">
  <div class="card-body">
    <app-data-table
      [columnHeader]="tableColumns"
      [hasActionsColumn]="true"
      [tableData]="organizationList"
    >
      <!-- <ng-template #actions let-data="data">
        <app-actions-menu>
          <app-actions-button
            [btnIcon]="'edit'"
            [btnText]="'Edit'"
            (click)="edit(data)"
          >
          </app-actions-button>
          <app-actions-button
            *ngIf="data.status == 'Inactive'"
            [btnIcon]="'paper-plane'"
            [btnText]="'Activate'"
            (click)="remove(data)"
          >
          </app-actions-button>
          <app-actions-button
            *ngIf="data.status == 'Active'"
            [btnIcon]="'trash'"
            [btnText]="'Deactivate'"
            (click)="remove(data)"
          >
          </app-actions-button>
        </app-actions-menu>
      </ng-template> -->

      <div class="contents" toolbar-content>
        <app-button
          (clicked)="add()"
          buttonName="Add Organization"
          _icon="ri-add-line align-bottom me-1"
        ></app-button>
      </div>
    </app-data-table>
  </div>
</div>
