<form [formGroup]="formName">
  <h3>{{ field.label }}</h3>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [formControlName]="field.fieldName"
  >
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let option of field.options"
      [value]="option.value"
    >
      <span class="text-17">
        {{ option.label }}
      </span>
    </mat-radio-button>
  </mat-radio-group>
  <app-dynamic-error [field]="field"></app-dynamic-error>
</form>
