.link{
margin-right:10px;
width: auto;
background-color:whitesmoke;
text-align: center;
font-size:15px;
color:rgb(104, 66, 17)
}

.tile{
background-color:whitesmoke;
width: auto;
height: 100px;
padding:1px;
font-size:18px;
text-align: center;
}

