// 
// breadcrumb.scss
//


// Breadcrumb item arrow
.breadcrumb-main{
    box-shadow:  -7px -5px 8px 0px $primary;
}
.breadcrumb-item {
    > a {
        color: var(--#{$prefix}body-color);
    }
    +.breadcrumb-item {
        &::before {
            font-family: "Material Design Icons";
            font-size: 15px;
            line-height: 20px;
        }
    }
}
  