<form [formGroup]="formName">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ field.label }}</mat-label>
    <mat-select
      [formControlName]="field.fieldName"
      (selectionChange)="changedValue($event.value)"
      #singleSelect
    >
      <mat-option>
        <ngx-mat-select-search
          [formControl]="searchValue"
          placeholderLabel="Search"
          noEntriesFoundLabel="No Data Found......"
        ></ngx-mat-select-search>
      </mat-option>
      <mat-option
        *ngFor="
          let option of field.options
            | search : 'label,value' : searchValue.value
        "
        [value]="option.value"
      >
        {{ option.label }}
      </mat-option>
    </mat-select>
    <mat-error style="margin-top: -22px!important; left: 0 !important;"
      ><app-dynamic-error [field]="field"></app-dynamic-error
    ></mat-error>
  </mat-form-field>
</form>
