<div class="card card-listing">
  <div class="p-1">
    <div @slideInFromTopAnimation class="d-flex row align-items-center">
      <div class="col-10 justify-content-start pt-2 gap-1">
        <div class="heading shadow-sm">
          {{ title }}
        </div>
      </div>
      <div class="col-2 d-flex justify-content-end gap-1" *ngIf="useBackButton">
        <span
          (click)="goBack()"
          class="back-button cursor-pointer shadow-sm">
          <i class=" bx bx-arrow-back position-relative fs-22 fw-bold"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<hr />
