.breadcrumb-title{
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 1rem;
}
.close-dialog{
    cursor: pointer; 
    color: #ffffff;
    padding: 15px; 
    border-radius: 20%;
    background: #808080;
}
.dialog-header{
    box-shadow:6px -7px 20px 0px rgba( #808080, 0.7)
}