<form [formGroup]="formName">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ field.label }}</mat-label>
    <input
      matInput
      [formControlName]="field.fieldName"
      type="text"
      placeholder="{{ field?.placeHolder ?? '' }}"
      maxlength="9"
      minlength="9"
      (keypress)="omitChar($event)"
    />
    <mat-icon matSuffix>phone</mat-icon>
    <span matPrefix class="prefix">255</span>
    <mat-error style="margin-top: -22px!important; left: 0 !important;"
      ><app-dynamic-error [field]="field"></app-dynamic-error
    ></mat-error>
  </mat-form-field>
</form>
