<app-dialog-page-header [title]="title"></app-dialog-page-header>

<form [formGroup]="contractForm" autocomplete="off">
    <mat-dialog-content>

        <mat-card-content>
            <div class="row">
                <div class="row">

                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Contract Number</mat-label>
                            <input matInput formControlName="contractNumber" type="text"
                                placeholder="Contract Number" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Contract Name</mat-label>
                            <input matInput formControlName="name" type="text" placeholder="Contract Name" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Revised Contract Sum</mat-label>
                            <input matInput formControlName="revisedContractSum" type="number"
                                placeholder="revisedContractSum" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field (click)="commencementDatePicker.open()">
                            <mat-label>Commencement Date</mat-label>
                            <input matInput [matDatepicker]="commencementDatePicker" formControlName="commencementDate">
                            <mat-datepicker-toggle matSuffix [for]="commencementDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #commencementDatePicker></mat-datepicker>
                            <mat-error>This field is required!</mat-error>
                        </mat-form-field>

                    </div>
                    <div class="col-md-4">
                        <mat-form-field (click)="originalCompletionDatePicker.open()">
                            <mat-label>Original Completion Date</mat-label>
                            <input matInput [matDatepicker]="originalCompletionDatePicker"
                                formControlName="originalCompletionDateDate">
                            <mat-datepicker-toggle matSuffix
                                [for]="originalCompletionDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #originalCompletionDatePicker></mat-datepicker>
                            <mat-error>This field is required!</mat-error>
                        </mat-form-field>

                    </div>
                    <div class="col-md-4">
                        <mat-form-field (click)="endOfDefectLiabilityPeriodPicker.open()">
                            <mat-label>End of Liability Date</mat-label>
                            <input matInput [matDatepicker]="endOfDefectLiabilityPeriodPicker"
                                formControlName="endOfDefectLiabilityPeriod">
                            <mat-datepicker-toggle matSuffix
                                [for]="endOfDefectLiabilityPeriodPicker"></mat-datepicker-toggle>
                            <mat-datepicker #endOfDefectLiabilityPeriodPicker></mat-datepicker>
                            <mat-error>This field is required!</mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Funder Name</mat-label>
                            <mat-select formControlName="funderId">
                                <mat-option *ngFor="let funder of funders" [value]="funder.id">{{
                                    funder.name}}</mat-option>
                            </mat-select>
                            <mat-error>This field is required!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Consultant Name</mat-label>
                            <mat-select formControlName="consultantId">
                                <mat-option *ngFor="let consult of consultants" [value]="consult.id">{{
                                    consult.name}}</mat-option>
                            </mat-select>
                            <mat-error>This field is required!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Contractor Name</mat-label>
                            <mat-select formControlName="contractorId">
                                <mat-option *ngFor="let contractor of contractors" [value]="contractor.id">{{
                                    contractor.name}}</mat-option>
                            </mat-select>
                            <mat-error>This field is required!</mat-error>
                        </mat-form-field>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Contract Type</mat-label>
                            <mat-select formControlName="contractTypeId">
                                <mat-option *ngFor="let type of contractTypes" [value]="type.id">{{
                                    type.name}}</mat-option>
                            </mat-select>
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Contract Period</mat-label>
                            <input matInput formControlName="contractPeriod" type="number"
                                placeholder="Contract Period" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Package Name</mat-label>
                            <mat-select formControlName="projectPackageId">
                                <mat-option *ngFor="let package of packages" [value]="package.id">{{
                                    package.name}}</mat-option>
                            </mat-select>
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <hr>
            </div>
            <app-button class="button" (click)=save(contractForm.value) buttonName="Save"
                _icon="ri-add-line align-bottom me-1"> </app-button>

        </mat-card-content>

    </mat-dialog-content>
</form>