
<app-headings [title]="title" [useBackButton]="true"></app-headings>

<div class="card">
  <div class="card-body">
    <app-data-table
      [columnHeader]="tableColumns"
      [hasActionsColumn]="true"
      [tableData]="rolesPermissions"
    >
      <ng-template #actions let-data="data">
        <app-actions-menu>
          <app-actions-button
            [btnIcon]="'edit'"
            [btnText]="'Edit'"
            (click)="edit(data, true)"
          >
          </app-actions-button>
          <app-actions-button
            *ngIf="data.status == 'Inactive'"
            [btnIcon]="'paper-plane'"
            [btnText]="'Activate'"
            (click)="activateData(data)"
          >
          </app-actions-button>
          <app-actions-button
            *ngIf="data.status == 'Active'"
            [btnIcon]="'trash'"
            [btnText]="'Deactivate'"
            (click)="deleteData(data)"
          >
          </app-actions-button>
        </app-actions-menu>
      </ng-template>

      <div class="contents" toolbar-content>
        <app-button
          (clicked)="openDialog()"
          buttonName="Add Role"
          _icon="ri-add-line align-bottom me-1"
        ></app-button>
      </div>
    </app-data-table>
  </div>
</div>
