<div class="mat-dialog-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div></div>
    <div class="header-title">
      <h2 mat-dialog-title>{{ title }}</h2>
      <button type="button" class="btn-close btn-close-white ms-auto" style="float: right; font-size: 1.5rem;"
        data-bs-dismiss="offcanvas" aria-label="Close" (click)="closeWindow()" *ngIf="from === 'initial'"></button>
        <button type="button" class="btn-close btn-close-white ms-auto" style="float: right; font-size: 1.5rem;"
        data-bs-dismiss="offcanvas" aria-label="Close" mat-dialog-close  *ngIf="from === 'change'"></button>
    </div>
  </div>
  
  <form [formGroup]="resetform" (ngSubmit)="resetPassword(resetform.value)">
    <mat-dialog-content>
      <mat-card>
        <mat-card-content class="p-4">
          <div class="row mb-5">
            <div class="col-md-12">
              <p class="text-center" *ngIf="from === 'initial'">You are seeing this because you are using a default Password(Given to you by the System Administrator), we recommend you immediately change this password to a new one, but ensure that your password follows the following criteria : </p>
           <ul class="mb-3">
                <li class="text-muted">Password must contain at least One Uppercase letter</li>
                <li class="text-muted">Password must contain at least One Lowercase letter</li>
                <li class="text-muted">Password must contain at least One special character</li>
                <li class="text-muted">Password must be an alphanuric (Letters and Numbers)</li>
              </ul> 
            </div>
          </div>
  
          <div class="row">
  
            <div class="col-4">
              <mat-form-field >
                <mat-label>Old Password</mat-label>
                <input matInput formControlName="oldPassword" type="password" placeholder="Old Password">
              </mat-form-field>
            </div>
  
            <div class="col-4">
              <mat-form-field >
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" type="password" placeholder="New Password">
              </mat-form-field>
            </div>
  
            <div class="col-4">
              <mat-form-field >
                <mat-label>Repeat New Password</mat-label>
                <input matInput formControlName="repeatPassword" type="password" placeholder="Repeat New Password">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-dialog-content>
   
   
  
      <button class="form-button" type="submit" mat-flat-button mat-fab extended color="primary"
      [disabled]="resetform.invalid">
     <mat-icon>save</mat-icon>
      <span class="text-button">{{label}}</span>
      </button>
  </form>