<app-headings [title]="title" [useBackButton]="true"></app-headings>

<div class="card">
  <div class="card-body">
    <app-data-table
      [columnHeader]="tableColumns"
      [hasActionsColumn]="true"
      [tableData]="packageList"
    >
      <ng-template #actions let-data="data">
        <app-actions-menu>
          <app-actions-button
          [btnIcon]="'plus'"
          [btnText]="'Sub Projects'"
          (click)="addSubProject(data.id)"
        >
        </app-actions-button>
          <app-actions-button
            [btnIcon]="'edit'"
            [btnText]="'Edit'"
            (click)="edit(data)"
          >
          </app-actions-button>
   
   <app-actions-button
            [btnIcon]="'delete'"
            [btnText]="'Delete'"
            (click)="remove(data)"
          >
          </app-actions-button>
        </app-actions-menu>
      </ng-template>

      <div class="contents" toolbar-content>
        <app-button
          (clicked)="add()"
          buttonName="Add Package"
          _icon="ri-add-line align-bottom me-1"
        ></app-button>
      </div>
    </app-data-table>
  </div>
</div>
