
.fab{
    transform: scale(1.9) perspective(0px);
    color: white;
    background-color: #405189;
    border-radius: 2rem !important;
    left: auto !important;
    bottom: 60px !important;
    right: 50px !important;
    position: fixed !important;
    z-index: 9 !important;
    box-shadow: none !important;
  }

  .fab:hover {
    box-shadow: 0 10px 10px rgba(92, 82, 95, 0.9);
  }

  .pulse-loader {
    display: flex;
    align-items: center;
  
    > div {
      background-color: currentColor;
      margin-right: 5%;
      width: 30%;
      height: 100%;
      border-radius: 100%;
      animation: pulse 1s ease infinite;
  
      &:nth-child(2) {
        animation-delay: 100ms;
      }
  
      &:nth-child(3) {
        margin-right: 0;
        animation-delay: 200ms;
      }
    }
  }
  
  @keyframes pulse {
    0%, 60%, 100% {
      opacity: 1;
      transform: scale(1);
    }
  
    30% {
      opacity: .1;
      transform: scale(.01);
    }
  }
  
  .table-container {
    position: relative;
  }
  
  .loading-indicator {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: rgba(255, 255, 255, 0.8);
    margin-top: 80px;
    // border-radius: 5px;
  }
