<app-dialog-page-header [title]="title"></app-dialog-page-header>

<form [formGroup]="contractorForm" autocomplete="off">
    <mat-dialog-content>

        <mat-card-content>
            <div class="row">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Reg. Number</mat-label>
                            <input matInput formControlName="regNumber" type="text" placeholder="Reg. Number" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Contractor FullName</mat-label>
                            <input matInput formControlName="name" type="text" placeholder="Full Name" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" type="text" placeholder="Email" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="address" type="text" placeholder="Address" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Consortium</mat-label>
                            <mat-select formControlName="consortium" type="text" placeholder="Consortium">
                                <mat-option *ngFor="let cons of consortiums"
                                    [value]="cons.value">{{cons.name}}</mat-option>
                            </mat-select>
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>

                </div>
<p>Add Contact People</p>
<hr>
                <div class="row">


                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Full Name</mat-label>
                            <input matInput formControlName="pname" type="text" placeholder="Full Name" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <mat-label>Phone Number</mat-label>
                            <input matInput formControlName="pphoneNumber" type="text" placeholder="Phone Number"
                                (input)="formatpPhoneNumber($event)" required pattern="^255\d{9}$" maxlength="12" />
                            <mat-error
                                *ngIf="contractorForm.get('pphoneNumber').invalid &&(contractorForm.get('pphoneNumber').dirty ||contractorForm.get('pphoneNumber').touched)">
                                <span *ngIf="contractorForm.get('pphoneNumber').errors['required']">This is required field!</span>
                                <span *ngIf="contractorForm.get('pphoneNumber').errors['pattern']">Invalid
                                    format start with 255..</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="pemail" type="text" placeholder="Email" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <mat-label>Position</mat-label>
                            <input matInput formControlName="pposition" type="text" placeholder="Position" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <app-button class="button" (click)=addPeople() buttonName="Add" _icon="ri-add-line align-bottom me-1">
                        </app-button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <table *ngIf="contactPeople.length>0">
                        <thead>
                            <th>No</th>
                            <th>Full Name</th>
                            <th>Phone</th>
                            <th>Position</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let people of contactPeople let i=index">
                                <td>{{i+1}}</td>
                                <td>{{people.name}}</td>
                                <td>{{people.phoneNumber}}</td>
                                <td>{{people.position}}</td>
                                <td><mat-icon (click)="remove(people)" style="color: red;">delete</mat-icon></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
<p>Add Staff</p>
<hr>
                <div class="row">


                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Full Name</mat-label>
                            <input matInput formControlName="sname" type="text" placeholder="Full Name" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Phone Number</mat-label>
                            <input matInput formControlName="sphone" type="text" placeholder="Phone Number"
                                (input)="formatsPhoneNumber($event)" required pattern="^255\d{9}$" maxlength="12" />
                            <mat-error
                                *ngIf="contractorForm.get('sphone').invalid &&(contractorForm.get('sphone').dirty ||contractorForm.get('sphone').touched)">
                                <span *ngIf="contractorForm.get('sphone').errors['required']">This is
                                    required field!</span>
                                <span *ngIf="contractorForm.get('sphone').errors['pattern']">Invalid
                                    format start with 255..</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="semail" type="text" placeholder="Email" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <mat-form-field>
                            <mat-label>Position</mat-label>
                            <input matInput formControlName="sposition" type="text" placeholder="Position" />
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field>
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="scategory" type="text" placeholder="Category">
                                <mat-option *ngFor="let cat of categories" [value]="cat.value">{{cat.name}}</mat-option>
                            </mat-select>
                            <mat-error>This is required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <app-button class="button" (click)=addStaff() buttonName="Add" _icon="ri-add-line align-bottom me-1">
                        </app-button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <table *ngIf="contractorStaff.length>0">
                        <thead>
                            <th>No</th>
                            <th>Full Name</th>
                            <th>Phone</th>
                            <th>Position</th>
                            <th>Category</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let staff of contractorStaff let i=index">
                                <td>{{i+1}}</td>
                                <td>{{staff.name}}</td>
                                <td>{{staff.phoneNumber}}</td>
                                <td>{{staff.position}}</td>
                                <td>{{staff.category}}</td>
                                <td><mat-icon (click)="remove(staff)" style="color: red;">delete</mat-icon></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <hr>
            </div>
            <app-button class="button" (click)=save(contractorForm.value) buttonName="Save"
                _icon="ri-add-line align-bottom me-1"> </app-button>

        </mat-card-content>

    </mat-dialog-content>
</form>